/* macOs */
#define mBAS  5
#define mDEV  6
#define mAXN  7
#define mFNK  8
#define mSTG  9

/* Helpers */
#define H_mCWR  LS(F18)
#define F_mBAS  LS(F19)
#define F_mDEV  LS(F20)
#define F_mAXN  LS(F21)
#define F_mFNK  LS(F22)
#define F_mSTG  LS(F23)
