/* macOs */
#define mBAS  5
#define mDEV  6
#define mAXN  7
#define mFNK  8
#define mSTG  9

/* Helpers */
#define H_mCWR  F13
#define F_mBAS  LS(F14)
#define F_mDEV  LS(F15)
#define F_mAXN  LS(F16)
#define F_mFNK  LS(F17)
#define F_mSTG  LS(F18)
