HR_HOLD(w, BAS, RS, mp_wi_n, KP_RIGHT)  //hm_wBAS_RS
HR_HOLD(w, BAS, RA, mp_wi_e, KP_RIGHT)  //hm_wBAS_RA
HR_HOLD(w, BAS, LC, mp_wi_a, KP_LEFT)   //hm_wBAS_LC
HR_HOLD(w, BAS, RC, mp_wi_i, KP_RIGHT)  //hm_wBAS_RC
HR_HOLD(w, BAS, RG, mp_wi_o, KP_RIGHT)  //hm_wBAS_RG
