HR_HOLD(w, DEV, LS, mp_wDEV_e, KP_LEFT)     //hm_wDEV_LG
HR_HOLD(w, DEV, RS, mp_wDEV_es, KP_RIGHT)   //hm_wDEV_RS
HR_HOLD(w, DEV, LG, mp_wDEV_lao, KP_LEFT)   //hm_wDEV_LG
HR_HOLD(w, DEV, RA, mp_wDEV_lb, KP_RIGHT)   //hm_wDEV_RA
HR_HOLD(w, DEV, RC, mp_wDEV_rb, KP_RIGHT)   //hm_wDEV_RC
HR_HOLD(w, DEV, RG, mp_wDEV_loo, KP_RIGHT)  //hm_wDEV_RG
