/* windows */
#define wBAS  0
#define wDEV  1
#define wAXN  2
#define wFNK  3
#define wSTG  4

/* Helpers */
#define H_wCWR  LA(F18)
#define F_wBAS  LA(F19)
#define F_wDEV  LA(F20)
#define F_wAXN  LA(F21)
#define F_wFNK  LA(F22)
#define F_wSTG  LA(F23)
