/* windows */
#define wBAS  0
#define wDEV  1
#define wAXN  2
#define wFNK  3
#define wSTG  4

/* Helpers */
#define H_wCWR  F13
#define F_wBAS  LS(F14)
#define F_wDEV  LS(F15)
#define F_wAXN  LS(F16)
#define F_wFNK  LS(F17)
#define F_wSTG  LS(F18)
