// tap:          capture portion of the screen
// tap + space:  capture a window or menu
// shift:        capture screenshot
mp_ma_screen: morph_mac_action_screen {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp RS(RG(N4))>, <&kp RG(N3)>;
};

// tap:          zoom reset
// shift:        zoom reset vscode
mp_ma_zoom_reset: morph_mac_action_zoom_reset {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    bindings = <&kp RG(N0)>, <&kp RG(KP_N0)>;
};

// mp_mSTG_screenshot
MORPH_KAS(
    m,
    STG,
    screenshot,
    screenshot,
    MOD_LALT|MOD_RALT,
    &kp RS(RG(N5)),  // tap:   screenshot and recording options
    &kp RS(RG(N4)),  // alt:   screenshot of selected area
    &kp RS(RG(N3)),  // shift: screenshot of screen
)
// ctrl: adding ctrl key copy to clipboard instead of saving a file
