HR_HOLD(a, DEV, LG, mp_aDEV_lao, KP_LEFT)   //hm_aDEV_LG
HR_HOLD(a, DEV, LS, mp_aDEV_e, KP_RIGHT)    //hm_aDEV_LS
HR_HOLD(a, DEV, RS, mp_aDEV_es, KP_RIGHT)   //hm_aDEV_RS
HR_HOLD(a, DEV, RG, mp_aDEV_loo, KP_RIGHT)  //hm_aDEV_RG
