// mp_aDEV_s
MORPH_KA(
    a,
    DEV,
    s,
    slash,
    MOD_LALT|MOD_RALT,
    &kp FSLH,   // tap:   /
    &m_ad_bc    // alt:   /* block comment */
)               // ctrl:  // line comment

//mp_aDEV_ql
MORPH_KS(
    a,
    DEV,
    ql,
    question_logical,
    &m_ad_oco,  // tap:    ?.
    &m_ad_cto   // shift:  ?░:░
)
